{% extends 'base.html.twig' %}

{% block title %}Habitats{% endblock %}

{% block body %}
    {% for zoo in habitat %}
    {% include "partials/habitat/_habitat_bloc.html.twig" %}
    {% endfor %}
    <div class="container p-4 text-center">
        <a href="{{ path ('app_animal') }}" class="btn btn-secondary">Voir les animaux</a>
    </div>
{% endblock %}
