<footer class="bg-primary text-white text-center" >
  <div class="row">
    <div class="col-12 col-lg-4">
      <p>Nos horaires</p>
      <p>du mardi au dimanche<br/>
      de h à h</p>
    </div>
    <div class="col-6 col-lg-4">
      <p>Adresse</p>
        <p> <br/>
        </p>
      </div>
      <div class="col-6 col-lg-4">
        <p>Contact</p>
          <p><br/>
          </p>
        </p>
      </div>
    </div>
  </div>
</footer>