{% extends 'base.html.twig' %}

{% block title %}Veterinaire{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
<div class='alert alert-success'>
    {{ message }}
</div>
{% endfor %}

<div class="text-center text-secondary p-5">
    <h1> Rapport Vétérinaire </h1>
</div>

<div class="container">
{{ form(rapportform) }}
</div>
{% endblock %}
