// customize some Bootstrap variables
$primary: #1D6311;
$secondary: #7C6017;
$dark: #000000;
$font-family-sans-serif:"Montserrat" , sans-serif !default;
$font-family-serif: "Hind Madurai", serif !default;
